@tailwind base;
@tailwind components;
@tailwind utilities;

@import './animations.css';

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
