---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import NewsTicker from '../components/NewsTicker.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import ResourcesSection from '../components/ResourcesSection.astro';
import SimulatorsSection from '../components/SimulatorsSection.astro';
---

<BaseLayout>
  <Hero />

  <NewsTicker />

  <div class="py-32 bg-gradient-to-b from-gray-50 to-white dark:from-gray-900 dark:to-gray-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <ProjectsSection showSection={true} />
    </div>
  </div>

  <div class="border-b border-gray-200 dark:border-gray-800"></div>

  <ResourcesSection />

  <SimulatorsSection />
</BaseLayout>
